@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('StarryStarryNight3.jpg');
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 18vh;
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 33px;
    color: white;
}

.navbar .right {
    width: 140px;
    height: 100px;
}

#btn-menu {
    display: none;
}

label {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 40px;
}

span {
    width: 100px;
    height: 10px;
    background-color: white;

    border-radius: 5px;

    display: block;
    position: absolute;
}

#top {
    top: 0px;
    transition: 0.5s;
}

#middle {
    top: 45px;
    transition: 0.5s;
}

#bottom {
    top: 90px;
    transition: 0.5s;
}

.btn-menu:checked + label #top {
    top: 45px;
    transform: rotate(45deg);
    transition: 0.5s;
}

.btn-menu:checked + label #middle {
    transform: rotate(-45deg);
    transition: 0.5s;
}

.btn-menu:checked + label #bottom {
    display: none;
}

.menu {
    width: 640px;
    height: 82vh;
    background-color: deepskyblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    top: 18vh;
    right: -640px;
    transition: 0.5s;
    z-index: 1;
}

.menu a {
    margin-right: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 33px;
    color: white;
}

.menu a:hover {
    color: red;
}

.btn-menu:checked ~ .menu {
    right: 0;
    transition: 0.5s;
}

#page {
    width: 100%;
    position: fixed;
    top: 18vh;
    left: 0;
    display: grid;
    grid-template-columns: 150px auto;
}

#page .left {
    height: 82vh;
    display: flex;
    align-items: center;
}

#navigation {
    width: 110px;
    height: 235px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation a {
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
}

#navigation a:hover {
    width: 100%;
    transition: 0.5s;
}

#page .right {
    height: 82vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container {
    height: 82vh;
    padding: 45px;
}

.content {
    height: calc(82vh - 117px);
}

#container-1 {
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-2 {
    background-color: ;
}

#container-2 .content {
    display: flex;
}

#photo {
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo img {
    border-radius: 50%;
}

#container-3 {
    background-color: ;
}

.slider-container {
    height: calc(82vh - 117px);
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous, .next {
    font-size: 50px;
    color: white;
    transition: opacity 1s;
}

.previous {
    opacity: 0;
}

.next {
    cursor: pointer;
}

.slider {
    overflow: hidden;
}

#container-3 .slides {
    width: 2960px;
    height: calc(82vh - 117px);
    display: flex;
    transition: 1s;
}

#container-3 .slide {
    width: 1480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    font-size: 25px;
    font-weight: 200;
    color: white;
}

#container-4 {
    background-color:goldenrod;
}

#container-4 .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.progress-bar {
    padding: 50px;
    
}

#container-5 {
    background-color: ;
}

.slideshow-container {
    height: calc(82vh - 117px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow {
    position: relative;
    width: 1200px;
    height: 562.5px;
    border-radius: 10px;
    overflow: hidden;
}

#container-5 .slides {
    width: 300%;
    height: 562.5px;
    display: flex;
}

#container-5 .slides input {
    display: none;
}

#container-5 .slide {
    width: 1200px;
    transition: 0.5s;
}

#container-5 .slide img {
    width: 1200px;
    height: 562.5px;
}

.navigation-manual {
    position: absolute;
    width: 1200px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -1200px;
}

#radio3:checked ~ .first {
    margin-left: -2400px;
}

.navigation-auto {
    position: absolute;
    top: 512.5px;
    width: 1200px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: white;
}

#container-6 {
    background-color: ;
}

h1 {
    color: white;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-element {
    width: 570px;
    height: 100px;
}

label {
    font-size: 25px;
    color: white;
}

.input-text {
    width: 570px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.message {
    width: 570px;
    height: 200px;
}

textarea {
    width: 570px;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
}










