@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #F94006 0%, white 270%);
}

#navbar {
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-menu {
    display: none;
}

#label-btn-menu {
    width: 70px;
    height: 50px;

    margin-left: 25px;

    position: relative;
}

.btn-menu-item {
    width: 100%;
    height: 5px;
    background-color: white;

    border-radius: 3px;

    display: block;
    position: absolute;
}

#top-bar {
    top: 0px;
    transition: 0.5s;
}

#middle-bar {
    top: 22.5px;
    transition: 0.5s;
}

#bottom-bar {
    top: 45px;
}

#btn-menu:checked ~ #menu-hamburger {
    left: 0;
    transition: 0.5s;
}

#btn-menu:checked + label #top-bar {
    top: 22.5px;
    transform: rotate(45deg);
    transition: 0.5s;
}

#btn-menu:checked + label #middle-bar {
    top: 22.5px;
    transform: rotate(-45deg);
    transition: 0.5s;
}

#btn-menu:checked + label #bottom-bar {
    display: none;
}

#menu-hamburger {
    width: 20%;
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;

    position: absolute;
    top: 10vh;
    left: -20%;

    padding: 20px;

    transition: 0.5s;
}

#menu-hamburger a {
    color: white;
}

#my-account {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

#my-account img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

#my-account span {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

#central {
    height: 78vh;
    padding: 0% 20% 0% 20%;
}

#container {
    height: 100%;
    background-color: #F5CF07;

    padding: 50px;

    border-radius: 20px;
}

form {
    
}

#file-select {
    display: none;
}

#img-container {
    text-align: center;
}

#label-file-select img {
    width: 180px;
    height: 180px;

    border-radius: 100%;

    cursor: pointer;
}

.label-input {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.input-text {
    width: 100%;
    height: 50px;

    border: solid #0593FA 2px;;
    border-radius: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;

    padding: 15px;
    margin-bottom: 20px;
}

#btn-container {
    text-align: center;
    padding: 15px;
}

#btn-login {
    width: 425px;
    height: 75px;
    background-color: #06bffa;

    border: solid #0593FA 2px;
    border-radius: 50px;

    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}