@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Signika&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#principal {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(198, 26, 129, 0.29) 0%, rgba(225, 13, 140, 0) 100%) ;
}

#navbar {
    width: 100%;
    height: 13.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-area {
    width: 20%;
    margin-left: 4.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-area p {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 70px;
    color: #D80F0F;
}

.btn-options {
    display: none;
}

#options {
    width: 57.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-left: auto;
    margin-right: auto;
}

#options a {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 35px;
}

#central {
    width: 100%;
    height: 86.5vh;

    position: relative;

    background: linear-gradient(180deg, rgba(198, 26, 129, 0.29) 100%, rgba(225, 13, 140, 0) 0%) ;
}

#main-pic {
    width: 100%;
    height: 66.7vh;
    background-image: url(Image_Japon_1.jpg);
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headline-button {
    width: 38.9%;
    height: 57.3%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: -6%;
    margin-left: 4.5%;
}

#headline-button p {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 46.6px;
    color: white;
}

#headline-button button {
    width: 48.3%;
    height: 10.6vh;
    background-color: rgba(253, 253, 253, 0.5) ;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 27px;
}

#headline-button button a {
    font-family: 'Signika', sans-serif;
    font-size: 41.8px;
    color: white;
}

#additional-pics {
    width: 100%;
    height: 34vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: absolute;
    bottom: 10px;
}

.additional-pic {
    width: 21.9%;
    border-radius: 50px;
}

#pic1 {
    background-image: url(Image_Japon_4.jpg);
    background-size: 100% 100%;
}

#pic2 {
    background-image: url(Image_Japon_5.jpg);
    background-size: 100% 100%;
}

#pic3 {
    background-image: url(Image_Japon_16.jpg);
    background-size: 100% 100%;
}

@media (max-width: 480px) {
    #navbar {
        width: 100%;
        height: 100px;
        position: relative;
        z-index: 1;
    }
    #logo-area {
        width: 60%;
        margin-left: 0;
    }
    #logo-area p {
        font-size: 45px;
    }
    #options {
        width: 240px;
        height: 260px;
        background-color: plum;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        position: absolute;
        top: 100px;
        right: -240px;
        transition: 0.5s;
    }
    #options a {
        font-size: 25px;
        margin-right: 25px;
    }
    .open #options {
        right: 0px;
        transition: 0.5s;
    }
    .btn-options {
        width: 50px;
        height: 50px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 25px;
    }
    .btn-options span {
        width: 100%;
        height: 5px;
        background-color: black;
        opacity: 1;
        transition: all 0.5s;
    }
    .open .span-1 {
        transform: rotate(45deg);
        margin-top: 22.5px;
    }
    .open .span-2 {
        transform: rotate(-45deg);
        margin-bottom: 22.5px;
    }
    .open .span-3 {
        opacity: 0;
    }
    #main-pic {
        width: 100%;
        height: 414.48px;
    }
    #headline-button {
        width: 430px;
    }
    #headline-button p {
        font-size: 35px;
        margin-bottom: 10px;
    }
    #headline-button button {
        width: 200px;
    }
    #headline-button button a {
        font-size: 35px;
    }
    #additional-pics {
        bottom: -45px;
    }
    .additional-pic {
        width: 140px;
        height: 140px;
    }
}